*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(240, 238, 238);
}


.container{
    width: 550px;
    margin: 0 auto;
}

h1{
    text-align: center;
    font-size: unset;
    padding: 20px 0;
    margin-top: 30px;
}

p{
    text-align: center;
}

form{
    width: 300px;
    margin: 0 auto;
    padding: 30px 0 15px;
}

input[type="text"]{
    display: block;
    width: 100%;
    padding: 10px;
    border: solid 1px gray;
    border-radius: 4px;
    margin-bottom: 15px;
 
}

select{
    display: inline-block;
    width: 32%;
    padding: 7px;
    border: solid 1px gray;
    border-radius: 2px;
    color: gray;
    appearance: none;
    -webkit-appearance: none;
    background-image: url(./arrow-down-sign-to-navigate.svg);
    background-size: 13px;
    background-repeat: no-repeat;
    background-position:75px
} 

.birthday{
    text-align: left;
    color: gray;
    margin-bottom: 10px;
}

hr{
    display: inline-block;
    width: 25px;
    color: gray;
}

.or{
   color: gray;
   text-align: center;
}

button{
    display: inline-block;
    width: 100%;
    padding: 10px 30px;
    margin: 10px 0;
    border: none;
    color: white;
    border-radius: 4px;
}
.register{
    background-color: rgb(87, 128, 27);
    margin-top: 20px;
}

.btn{
    display: inline-block;
    width: 300px;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    background-color: rgb(46, 46, 117);
    color: white;
    padding: 10px 30px;
    border-radius: 4px;
    margin-left: 23%;
}
